.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  box-shadow: 0 1px 10px 0 black;

  &__icon {
    &-title {
      margin: 0;
    }
  }

  &__links {
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__list {
    padding: 0 15px;
    list-style: none;

    &-link {
      color: black;
      text-decoration: none;
    }
  }
}