<header class="header">
  <div class="header__icon">
    <h2 class="header__icon-title">{{name}}</h2>
  </div>
  <ul class="header__links">
    <li *ngFor="let link of links" class="header__list">
      <a [routerLink]="link.link" routerLinkActive="router-link-active" class="header__list-link">{{link.name}}</a>
    </li>
  </ul>
</header>