<div class="contact">
  <h1>Contacto</h1>
  <form [formGroup]="contactForm" class="contact__form">
    <fieldset class="contact__fieldset">
      <label for="name">Nombre</label>
      <input id="name" formControlName="name" type="text" class="contact__fieldset__input" placeholder="Nombre" required/>
    </fieldset>
    <fieldset class="contact__fieldset">
      <label for="surname">Apellido</label>
      <input id="surname" formControlName="surname" type="text" class="contact__fieldset__input" placeholder="Apellido" required/>
    </fieldset>
    <fieldset class="contact__fieldset">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" class="contact__fieldset__input" placeholder="Email" required/>
    </fieldset>
    <fieldset class="contact__fieldset">
      <label for="phone">Teléfono</label>
      <input id="phone" formControlName="phone" type="tel" class="contact__fieldset__input" placeholder="Teléfono" required/>
    </fieldset>
    <fieldset class="contact__fieldset">
      <label for="reason">Motivo</label>
      <textarea id="reason" formControlName="reason" type="text" class="contact__fieldset__input" placeholder="" required></textarea>
    </fieldset>
    <fieldset class="contact__fieldset">
      <button (click)="onSubmit()" [disabled]="!contactForm.valid" type="button" class="contact_fieldset__button">
        Enviar
      </button>
    </fieldset>
  </form>
</div>