<div class="pagination">
  <button [ngClass]="{'pagination__next': true, 'pagination__prev--disabled': (actualPage +1) <= 1}" [disabled]="(actualPage +1) <= 1" (click)="selectPage(actualPage - 1)">
    <
  </button>
  <div class="pagination__numbers">
    <div *ngFor="let post of counter(paginationNumber); let i = index" class="pagination__number" (click)="selectPage(i)">
      <button [ngClass]="{'pagination__number__button': true, 'pagination__number__button--selected': actualPage === i}">
        {{i + 1}}
      </button>
    </div>
  </div>
  <button [ngClass]="{'pagination__next': true, 'pagination__prev--disabled': actualPage +1 >= paginationNumber}" [disabled]="(actualPage +1) >= paginationNumber" (click)="selectPage(actualPage + 1)">
    >
  </button>
</div>