<div class="posts">
  <h2 class="posts__title">Posts</h2>
  <div class="posts-container">
    <div *ngFor="let post of posts" class="posts-container__post" (click)="selectPost(post)">
      <div class="posts-container__content">
        <h3 class="posts-container__content-title">{{post.title}}</h3>
        <p class="posts-container__content-description">{{post.body}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="posts">
    <app-pagination [paginationNumber]="paginationNumber" [actualPage]="paginationNumberSelected" (changePage)="changePagination($event)"></app-pagination>
  </div>
</div>