/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}